<nav class="navbar-conatiner">
    <ul class="navbar">
        <li class="nav-element-container">
            <div class="nav-element">
                <a href="/">
                    <p class="link-text">Home</p>
                </a>
            </div>
        </li>
        <li class="nav-element-container">
            <div class="nav-element">
                <a href="/about">
                    <p class="link-text">About</p>
                </a>
            </div>
        </li>
        <li class="nav-element-container">
            <div class="nav-element">
                <a href="/contact">
                    <p class="link-text">Contact</p>
                </a>
            </div>
        </li>
    </ul>
</nav>